# Android αυτόματα αρχεία
build/
.gradle/
local.properties

# Αρχεία κλειδιών (ΠΟΛΥ ΣΗΜΑΝΤΙΚΟ - Μην τα ανεβάσεις!)
*.jks
*.idsig

# Το τελικό APK (συνήθως δεν το βάζουμε στον κώδικα, αλλά στα Releases)
*.apk
